<%= form_for([:admin, @group_event]) do |f| %>

  <table>
    <tbody>

      <tr>
        <td>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </td>
        <td>
            <%= f.label :state %>
            <%= f.select :state, options_for_select(GroupEvent.states, @group_event.state) %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <%= f.label :description %>
          <%= f.text_area :description, class: "materialize-textarea" %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <%= f.label :location %>
          <%= f.text_field :location %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :start_date %><br />
          <%= f.text_field :start_date, class: "datepicker" %>
        </td>
        <td>
          <%= f.label :end_date %><br />
          <%= f.text_field :end_date, class: "datepicker" %>
        </td>
      </tr>

      <tr>
        <td><%= f.submit class: "btn" %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<% end %>