  <div class="row">
    <form class="col s12" action="/" method="get">

      <div class="row">
        <div class="input-field col s9">
          <input placeholder="search" name="query" type="text" class="validate" value="<%= params[:query] %>">
        </div>
        <div class="input-field col s3">
          <input type="submit" value="search!" class="btn">
        </div>
      </div>

    </form>
  </div>

<div class="row">
  <div class="col s12">
    <a href="<%= new_admin_group_event_path %>"><i class="medium material-icons">add</i></a>
  </div>
</div>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>State</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

		<% @group_events.each do |e| %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.name %></td>
        <td><%= e.description %></td>
        <td><%= e.state %></td>
        <td><%= e.start_date %></td>
        <td><%= e.end_date %></td>
        <td>
          <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_admin_group_event_path(id: e.id), class: "btn-flat" %>
          <%= link_to "<i class='material-icons'>delete</i>".html_safe, admin_group_event_path(id: e.id), class: "btn-flat", method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
		<% end %>

      </tbody>
  </table>
