  <div class="row">
    <div class="col s1">
      <a href="<%= new_location_path %>"><i class="medium material-icons">add</i></a>
    </div>
    <form class="col s11" action="/" method="get">
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="search" name="query" type="text" class="validate" value="<%= params[:query] %>">
        </div>
        <div class="input-field col s3">
          <input type="submit" value="search!" class="btn">
        </div>
      </div>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>State</th>
        <th>Start/End</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

		<% @locations.each do |l| %>
      <tr>
        <td><%= l.id %></td>
        <td><%= l.name %></td>
        <td><%= l.description %></td>
        <td><%= l.location %></td>
        <td><%= l.state %></td>
        <td><%= l.start_date %><br/><%= l.end_date %></td>
        <td>
          <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_location_path(id: l.id), class: "btn-flat" %>
          <%= link_to "<i class='material-icons'>delete</i>".html_safe, location_path(id: l.id), class: "btn-flat", method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
		<% end %>

      </tbody>
  </table>
