  <div class="row">

    <div class="col s8">

    </div>

    <div class="col s4">
      <h4>Check Weather for a Location</h4>
      <%= form_tag('/locations') do %>
      <table>
        <tbody>
          <tr>
            <td>
                <%= f.label :state %>
                <%= f.select :state, options_for_select(GroupEvent.states, @group_event.state) %>
            </td>
          </tr>
          <tr>
            <td>
                <%= f.label :state %>
                <%= f.select :state, options_for_select(GroupEvent.states, @group_event.state) %>
            </td>
          </tr>
          <tr>
            <td><%= f.submit class: "btn" %></td>
          </tr>
        </tbody>
      </table>
    </div>

<% end %>

  </div>

  <div class="row">
    <div class="col s1">
      <a href="<%= new_location_path %>"><i class="medium material-icons">add</i></a>
    </div>
    <form class="col s11" action="/" method="get">
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="search" name="query" type="text" class="validate" value="<%= params[:query] %>">
        </div>
        <div class="input-field col s3">
          <input type="submit" value="search!" class="btn">
        </div>
      </div>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>City</th>
        <th>Country</th>
        <th>coords.</th>
        <th>weather</th>
        <th>Temp.</th>
      </tr>
    </thead>
    <tbody>

		<% @locations.each do |l| %>
      <tr>
        <td><%= l.city_id %></td>
        <td><%= l.city_name %></td>
        <td><%= l.country_code %></td>
        <td>
          lat:<%= l.latitude %><br/>
          lon:<%= l.longitude %>
        </td>
        <td>
          <%= l.weather_title %><br/>
          <%= l.weather_description %>
        </td>
        <td>
          temp: <%= l.temperature %><br/>
          min: <%= l.min_temp %><br/>
          max: <%= l.max_temp %>
        </td>
      </tr>
		<% end %>

      </tbody>
  </table>
