<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Events!</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <%= render 'layouts/application/nav_bar' %>
  <%= render 'layouts/application/flash_message' %>

  <div class="container">
    <%= yield %>
  </div> <!-- /container -->

  <%= render 'layouts/application/footer' %>
  <%= javascript_include_tag "application" %>
</body>
</html>